.left {
    height: 90vh;
    flex  : 35%;
}

.toc {
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 0.8rem;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.chapters {
    height                : 80%;
    overflow-y            : auto;
    white-space           : pre-line;
    font-size             : 10px;
    margin                : 2%;
    -webkit-font-smoothing: antialiased;
}

.chapter {
    cursor: pointer;
}

@media (min-width: 769px) {
    .left {
        flex: 20%;
    }
}