.walls {
  width          : 100vw;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.container {
  display         : flex;
  width           : 100%;
  background-color: rgb(224, 234, 254);
}

.left {
  height: 100vh;
  flex  : 30%;
}

.chapters {
  height     : 80%;
  overflow   : auto;
  white-space: pre-line;

  font-size: 10px;
  margin   : 2%;
}

.chapter {
  cursor: pointer;
}

.rules {
  white-space: pre-line;
  flex       : 70%;
  margin     : 2%;
  font-size  : 0.8rem;
}

.rule {
  border-top: solid 1px;
}

@media (min-width: 769px) {
  .left {
    flex: 20%;
  }

  .rules {
    flex: 80%;
  }
}