.walls {
  width          : 100vw;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.container {
  height     : 90vh;
  display    : flex;
  width      : 100%;
  background : linear-gradient(to right top, rgb(182, 182, 255), rgb(251, 224, 255));
}

@media (min-width: 769px) {
  .left {
    flex: 20%;
  }

  .rules {
    flex: 80%;
  }

  .searchbox {
    width: 150px;
  }
}