.walls {
  height         : 100vh;
  width          : 100vw;
  overflow       : auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.container {
  display         : flex;
  width           : 100%;
  background-color: rgb(227, 219, 202);
}

.left {
  height: 100vh;
  flex  : 30%;
}

.title {
  height         : 30px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 1.2rem;
  font-family    : fantasy;
  margin         : 2%;
}

.toc {
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 0.8rem;
  font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.searchboxParent {
  height         : 50px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.searchbox {
  height: 20px;
  width : 80px;
  border: none;
}

.chapters {
  height     : 70%;
  overflow   : auto;
  white-space: pre-line;
  font-size  : 10px;
  margin     : 2%;
}

.chapter {
  cursor: pointer;
}

.rules {
  height       : 100vh;
  white-space  : pre-line;
  flex         : 70%;
  box-sizing   : border-box;
  margin       : 2%;
  margin-bottom: 0;
  margin-top   : 0;
  font-size    : 0.8rem;
  font-family  : 'Courier New', Courier, monospace;
  overflow     : auto;
}

.rule {
  border-top: solid 1px;
}

@media (min-width: 769px) {
  .left {
    flex: 20%;
  }

  .rules {
    flex: 80%;
  }

  .searchbox {
    width: 150px;
  }
}