.rules {
    height       : 100vh;
    white-space  : pre-line;
    flex         : 70%;
    box-sizing   : border-box;
    margin       : 2%;
    margin-bottom: 0;
    margin-top   : 0;
    font-size    : 0.8rem;
    font-family  : 'Courier New', Courier, monospace;
    overflow     : auto;
    -webkit-font-smoothing: antialiased;
  }
  