.searchboxParent {
    height         : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.searchbox {
    height: 20px;
    width : 80px;
    border: none;
}

@media (min-width: 769px) {
    .searchbox {
        width: 150px;
    }
}